# Main Web Server
fastapi
uvicorn[standard]
pydantic[email]
python-dotenv
sse-starlette

# Database
pymongo
motor

# Security & Auth
passlib[bcrypt]
python-jose[cryptography]

# Web Scraping & Analysis
requests
beautifulsoup4
requests-html
lxml
playwright

# Google AI
google-generativeai
