# Main Web Server
fastapi
uvicorn[standard]
gunicorn

# Database
pymongo
motor

# Security & Auth
passlib
bcrypt
python-jose
cryptography

# Web Scraping & Analysis
requests
beautifulsoup4
requests-html
lxml
playwright

# Google AI
google-generativeai

# Other dependencies
python-dotenv
sse-starlette
pydantic[email]
